

    <div class="row profile">
		
    <%= render :partial=> 'profile_sidebar'%>

		<div  class="col-md-9" >
		<div  id="tab1" class="profile-content">
			<div class="tab-content clearfix col-md-9">
			  <div class="tab-pane active" id="1b">

                <P>First Name : <span>Marcus</span></P> 
                 <hr>
                <P>Last Name  :<span>Joe</span></P>
                 <hr>
                <P>Email :<span><%= @user.email %></span></P>
                 <hr>
                </div>
				<div class="tab-pane" id="2b">
          <h3>Text</h3>
				</div>
        <div class="tab-pane" id="3b">
                <P>Owners Name : <span>Marcus Joe</span></P> 
                 <hr>
                <P>Card Number :<span>09-865434-8765433-34</span></P>
                 <hr>
                <P>Created On:<span>21-07-2106</span></P>
                 <hr>
                <P>Expires On:<span>21-07-2120</span></P>
                 <hr>
                

				</div>
          <div class="tab-pane" id="4b">
          <h3>Text</h3>
				</div>
			</div>
        
            
        </div>
            
            
		</div>


		
	</div>



<br>
<br>