

<div class="panel panel-default">
	<div class="panel-heading">
		<strong>Editing Timing Model</strong>
	</div>
	<div class="panel-body">
		<%= render 'form' %>

		<%= link_to 'Show', @timing_model %> |
		<%= link_to 'Back', timing_models_path %>
	</div>
</div>

