<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="nav-side-menu">
    <div class="brand">Chart Options</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">

          
            
             
                
                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href="#"><i class="fa fa-bar-chart"></i> MM Timing Model <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                   <form action="">
                    <li><input type="checkbox" name="vehicle" value="Bike">General</li>
                    <li><input type="checkbox" name="vehicle" value="Car">Buttons </li>
                    <li><input type="checkbox" name="vehicle" value="Car">Tabs & Accordions/li>
                    <li><input type="checkbox" name="vehicle" value="Car">Typography</li>
                    <li><input type="checkbox" name="vehicle" value="Car">FontAwesome</li>
                    <li><input type="checkbox" name="vehicle" value="Car">Slider</li>
                    <li><input type="checkbox" name="vehicle" value="Car">Panels</li>
                    <li><input type="checkbox" name="vehicle" value="Car">Widgets</li>
                    <li><input type="checkbox" name="vehicle" value="Car">Bootstrap Model</li>
                  </form>
                </ul>


                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="#"><i class="fa fa-bar-chart"></i> NYSE Chart Dashboard <span class="arrow"></span></a>
                </li>  
                <ul class="sub-menu collapse"  id="service" >
                <form action="">
                  <li><input type="checkbox" name="vehicle" value="Bike">New Service 1</li>
                  <li><input type="checkbox" name="vehicle" value="Car">New Service 2 </li>
                  <li><input type="checkbox" name="vehicle" value="Car">New Service 3</li>
                </form>
                </ul>
            

                

                 <li data-toggle="collapse" data-target="#new0" class="collapsed">
                  <a href="#"><i class="fa fa-bar-chart"></i> S&P 500 Chart<span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse " id="new0">
                  <form action="">
                  <li><input type="checkbox" name="vehicle" value="Bike">New  1</li>
                  <li><input type="checkbox" name="vehicle" value="Car">New  2 </li>
                  <li><input type="checkbox" name="vehicle" value="Car">New  3</li>
                </form>
                </ul>
 
                
                <li data-toggle="collapse" data-target="#new1" class="collapsed">
                  <a href="#"><i class="fa fa-bar-chart"></i> VS Common Stocks <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new1">
                  <form action="">
                  <li><input type="checkbox" name="vehicle" value="Bike">New New 1</li>
                  <li><input type="checkbox" name="vehicle" value="Car">New New 2 </li>
                  <li><input type="checkbox" name="vehicle" value="Car">New New 3</li>
                </form>
                </ul>

                <li data-toggle="collapse" data-target="#new2" class="collapsed">
                  <a href="#"><i class="fa fa-bar-chart"></i> Sentiment Chart  <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new2">
                  <form action="">
                  <li><input type="checkbox" name="vehicle" value="Bike">New New 1</li>
                  <li><input type="checkbox" name="vehicle" value="Car">New New 2 </li>
                  <li><input type="checkbox" name="vehicle" value="Car">New New 3</li>
                </form>
                </ul>


                 <li>
                  <a href="#">
                  <i class="fa fa-user fa-lg"></i> Profile
                  </a>
                  </li>

                 <li>
                  <a href="#">
                  <i class="fa fa-users fa-lg"></i> Users
                  </a>
                </li>
            </ul>
     </div>
</div>